body{
    margin: 0px;
    background: #779b9b;
  background-repeat: no-repeat;
  background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

header{
    background-color: #243b43;
    background-image: url("Images/catsFallingBackgorund.png");   
    background-size:300px;
    background-repeat: repeat-x;
  background-attachment: fixed;    
  outline: 25px;
  outline-style: solid;
  outline-color: #243b43;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    color: white;
    text-align: center;
    padding: 0px;
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "header1 header1 . . . . . . headerButtons headerButtons";
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#headerButtons{
    width: 200px;
    padding-top: 2vw;
    grid-area: headerButtons;
}
#header1{
    grid-area: header1;
}


.cats{
    display: flex;
    flex-direction: column;
}
.imagesofcat, .textrowcat{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pysen{
    display: flex;
    flex-direction: column;
}
.button {
    transition-duration:0.4s;
    position: relative;
    color: white;
    text-align: center;
  }

.button:hover{
    opacity: 0.75;
    filter: brightness(50%);
}

.button:hover .pysnparagraph{

    display: inline-block;
  }
.pysnparagraph{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.Cats-1{
    grid-area: cat1;
    padding: 10px;
}
.Cats-2{
    grid-area: cat2;
    padding: 10px;
}
.pysen{
    grid-area: image1;
    padding: 10px;
}.polly{
    grid-area: image2;
    padding: 10px;
}

.gallery{
    color:#eeeeee;
    display: flex;
    flex-direction: row;
    background-color: #243b43;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.gallery img{
    padding: 10px;
}

.gallery img:hover{
    opacity: 0.3;
}

#sleepingCatDiv{
    width: 100%;
    margin-bottom: 0px;
    align-items: center;
}

#sleepingCatPic{
    align-self: center;
}
footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #243b43;
    color: white; 
}

#link{
    color: aqua;
}